 export(null.connectance, null.degrees, null.metaweb, null.from_template, generate.metaweb, extract.localwebs, betalink, betalink.dist, beta.os_prime, aggregate.metaweb, betalink.plot)

exportPattern("^B")
